@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Created by Jim Mills in Austin, Texas
</p>
<p>
    Purpose: To demonstrate data manpulation and unit testing techniques, using ASP.NET MVC3 Framework.
</p>

